<div class='panel-heading'>
  <div class='panel-title'>
    {{#link-to 'books' tagName='i' class='glyphicon pull-right glyphicon-ban-circle'}}{{/link-to}}
    <h4>New Book</h4>
  </div>
</div>

<div class='panel-body'>
  {{view 'books/form'}}
</div>
