<div class='panel panel-default book affix'>
  <div class='panel-heading'>
    <div class='panel-title'>
      <i class="glyphicon glyphicon-edit pull-right"></i>
      <h4>{{title}}</h4>
    </div>
  </div>
  <div class='panel-body'>
  <p>{{description}}</p>
  </div>
</div>
