.book-details {
  &.panel {
    .panel-title {
      h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    img.cover-image {
      width: 120px;
      @extend .img-responsive;
      @extend .pull-left;
      @extend .img-thumbnail;
      margin: {
        right: $grid-gutter-width /2;
        bottom: $grid-gutter-width /2;
      }
    }
  }
  p.description {
    @include clearfix;
    max-height: 200px;
    overflow: scroll;
  }
}
