table.books {
  table-layout: fixed;
  cursor: pointer;
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.small {

    }
    &.medium {
      width: 150px;
    }
  }
}
