<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kabisa Library</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#">Books</a></li>
        <li><a href="#">Users</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Patrick <span class="caret"></span></a>
        <ul id="g-account-menu" class="dropdown-menu" role="menu">
          <li><a href="#">My Profile</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div><!-- /container -->
</nav>
