<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class='navbar-brand'}}Kabisa Library{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        {{#link-to 'books' tagName='li'}}<a href='javascript:void(0);'>Books</a>{{/link-to}}
        {{#link-to 'users' tagName='li'}}<a href='javascript:void(0);'>Users</a>{{/link-to}}
      </ul>

      {{#if currentUser}}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> {{currentUser.firstName}} <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="#">My Profile</a></li>
            {{#link-to 'login' tagName='li'}}<a href='javascript:void(0);'>Switch User</a>{{/link-to}}
          </ul>
          </li>
        </ul>
      {{/if}}
    </div>
  </div><!-- /container -->
</nav>
