<div class="container users">
  <div class="row">
    {{#each}}
      <div class="col-sm-6 col-md-3 user-tile">
        {{gravatar-image email=email}}
        <h3>{{fullName}}</h3>
        <p><a class="btn btn-default" href="#" role="button">Edit</a></p>
      </div>
    {{/each}}
  </div>
</div>
